@tailwind base;
@tailwind components;
@tailwind utilities;

.content::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(95, 92, 92);
  border-radius: 10px;
}